<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main id='app'>
        <input type="text" name="bucar" id="busar" v-model="buscar" placeholder="Buscador" size="50">
        <table>
            <th v-for="campo of campos">{{campo | capitalize()}}</th>
            
            <tr v-for="item of datosFiltrados">
                <td>{{item.name.toUpperCase()}}</td>
                <td>{{item.email.toLowerCase()}}</td>
                <td>{{item.address.city}}</td>
                <td>{{item.address.geo.lat}}  {{item.address.geo.lng}}</td>
                <td>{{'$'
                     + precio.toFixed(2)}}</td>
                <td>{{texto | verMas(15, ' ver mas...') | capitalize}}</td>
            </tr>
        </table>
        <?php 
        ==
        ===
        !=
        <>
        <
        >
        <=
        >=
        <=>
        ??
        &&
        ||
        not        
        ?>
    </main>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script>
        Vue.filter('capitalize', function(valor){
            return valor[0].toUpperCase()
                 + valor.slice(1);
        });
        Vue.filter('verMas', function(valor, tamano, subfijo){
            return valor.substring(0, tamano) + subfijo;
        })
        const url = 'https://jsonplaceholder.typicode.com/users';
        const app = new Vue({
            el: '#app',
            data: {
                datos: [],
                campos:['nombre', 'email', 'ciudad', 'localizacion', 'precio'],
                precio:1234,
                texto: 'lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptatum vero quasi dignissimos! Asperiores libero, ea voluptate omnis nisi nihil possimus velit! Numquam rem officia velit id dolore quibusdam eum.',
                buscar:'',
            },
            methods:{
                usuarios(){
                    this.$http.get(url).then(function(respuesta){
                        this.datos = respuesta.data;
                    })
                }
            },
            created(){
                this.usuarios();
            },
            computed:{
                datosFiltrados(){
                    return this.datos.filter((filtro) => {
                        return filtro.name.toUpperCase().match(this.buscar.toUpperCase()) || filtro.email.toLowerCase().match(this.buscar.toLowerCase()) ;
                    })
                }
            }
        });
    </script>
</body>
</html>