<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main id='app'>
        <input type="number" name="datos" id="datos" v-model="datos">
        <h1 v-if="datos == 1">El día es muy nublado</h1>
        <h1 v-else-if="datos == 2">El día esta muy nublado</h1>
        <h1 v-else>El día esta muy nublado</h1>
    </main>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                datos: 0,
            }
        });
    </script>
</body>
</html>